<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <!-- Console ：表示当前的日志信息是可以输出到控制台的。 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %blue(%d{HH:mm:ss.SSS}) %cyan([%thread]) %boldGreen(%logger{100}) : %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>